
.my-component-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

  }
  
  .my-component-image {
    margin-bottom: -1px;
    border-radius: 30%;
    width: 220px; 
    height: 180px;
    /* margin-right: 20px;  */
  }
  .my-component-content {
    margin-bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .my-component-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .my-component-description {
    font-size: 16px;
    color: rgb(0, 0, 0);
    max-width: 600px; 
  }
  .my-component-content h2{
    color:#a9ad00;
  }
  .my-component-content p{
    text-align: center;
  }
  .my-component-content h3{
    color:#c3c3c3;
    font-size: 22px;
  }