
.chatbox1{
    color:#000000;
    position: fixed;
    right: 2rem;
    bottom: 3rem;
  }
  .chatbox1 .list-group{
    overflow: scroll;
    max-height: 20rem;
    margin-bottom: 2rem;
  }
  #root > div > div {
    height: 231px;
    width: 263px;
  }