.comments-popup {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .create-comment label {
    display: block;
  }
  .create-comment{
    border-radius: 5px;

  }
  .comments-content {
    
    background: #f1f1f1;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .comments-content h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
  }


  .comments-scroll {
    max-height: 300px; 
    overflow-y:scroll;
    width: 300px; 
  }
  #details-page > div.comments-popup > div{
    max-height: 40%; 
    overflow-y:scroll;
  }

  .close-button {
    font-size: 22px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  #details-page > div.comments-popup > div > button:nth-child(7){
    font-size: 22px;
    
  }
  
  .comments-scroll ul {
    
    list-style: none;
    padding: 0;
  }
  
  .comments-scroll li {

    margin: 10px 0;
  }
  .comments-popup ul li{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
    font-size: 16px;
  }
  /* rotate */
  /* @keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .comments-content  {
    animation: rotate360 0.1s linear forwards; 
  }

   */
   /* поле коментари */
   #details-page > div.comments-popup > div > article{

    padding:20px;
    margin: 0px auto;
    width: 730px;
    height: 180px;
    margin: 10px auto;
    
   } 
   #details-page > div.comments-popup > div > article > form > input{
    font-size: 18px;
   }
   #details-page > div.comments-popup > div > article > form > textarea{
    margin-bottom: 10px;
    font-size: 18px;
    
   }
  
  
  