#details-page {
    margin-top: 5.5em;
    left: 70%;
    font-family: 'Times New Roman', serif;

    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.main_card {
    color: #060606;
    height: 300px auto;
    margin: -50px auto;
    display: flex;
    left: 60%;
    max-width: 950px;
    border-radius: 10px;

    /* background: #e4a1a9; */
    /* background: -webkit-linear-gradient(to right, #03434C, rgb(179, 91, 98)); */
    /* background: -webkit-gradient(linear, left top, right top, from(#03434C), to(rgb(#08272C))); */
    /* background: -webkit-linear-gradient(left, #03434C, #08272C);
    background: -o-linear-gradient(left, #03434C, #08272C); */
    background: linear-gradient(to right, #f1f1f1, #d9e7ea);
    -webkit-box-shadow: 0 0 40px rgba(68, 68, 68, 0.3);
     box-shadow: 0 0 40px rgba(78, 70, 70, 0.3); 
}

/* .disc p {
    color: black;
    font-size: 18px;
} */

.card_left {
    width: 700px;
}

.card_details {
    width: 98%;
    padding: 50px;
    margin-top: -25px;
}

.card_details h1 {
    font-size: 40px;
    padding-bottom: 19px;
}


.card_details h3 {
text-transform:none;
}
/* .card_right img {
    display: flex;

 
    border-radius: 2px;


    
} */
/* .trend-btn{
   
 
    max-width: 30px;
    border-radius: 2px;
} */


.card_right {
    position: relative;
    max-width: 250px;
    border-radius: 2px;
}




.PG,
.card-keyword,
.card-date,
.card-location {
    color: rgb(223, 210, 210);
    padding: 8px;
    font-weight: bold;
    border-radius: 15px;
}
.card_left p{
font-size: 16px;
color: #060606;

}
.card_right p{
    font-size: 14px;
    color: #060606;
    
}
.card_right span{
    font-size: 14px;
    color: #060606;
  text-transform:none
}
/* .card_right h2{
    font-size: 30px;
    color: #060606;

    font-weight: bold;
    text-align: center; 
    margin: 25px 0;
} */
.card_right h2 {
    /* position: absolute; */
    bottom: 10px; /* Adjust the bottom distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    font-size: 24px;
    color: #181819; /* A blue color, you can choose your preferred color */
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    padding: 8px; /* Add padding for a highlighted effect */
    /* background-color: #060606; */
    border: 3px solid #669b9b; /* Add a border around the price */
    border-radius: 40px; /* Round the corners of the border */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Apply a subtle shadow */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth color transition on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover */

  }
  
  .card_right h2:hover {
    background-color: #d03913; /* Change background color on hover */
    color: #ffffff; /* Change text color on hover to white */
    transform: scale(1.1);
  }
.PG {
    /*background: #92FE9D;*/
    background: rgba(116, 153, 226, 0.89);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    -webkit-transition: 300ms ease-in-out;
}

.disc {
    font-weight: 100;
    font-size: 22px;
    line-height: 27px;
    color: black;
  
}

/* .social-btn {

    margin-left: 10px;

} */

.social-btn>.edit-btn,
.del-btn
 {
    margin-left: 10px;
    margin-top: 2em;

    color: #fff;
    border: none;
    padding: 6px 39px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    /*margin-left: 10px;*/
    border-radius: 12px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.del-btn {
    background-color: #ff0000;
    font-size: 16px;
}

.edit-btn {
   

    background-color: #EFC050;
    font-size: 16px;

}
/* Like icon */
#details-page > div > div.card_left > div > div.social-btn > div:nth-child(1) > svg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    float:right;
    color: #007bff; 
  font-size: 24px; 
  margin-right: 20px;
}
#details-page > div > div.card_left > div > div.social-btn > div:nth-child(1) > p{
    /* display: flex;
    align-items: right;

    color: #007bff; 
  font-size: 16px; 
  margin-right: 5px; */
  
  align-items: center;
  color: #5b5b5b; 
  font-size:16px; 
  float:right;
  margin-right: 5px;
  float:right;
}

#details-page > div > div.card_left > div > div.social-btn > div:nth-child(3) > svg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    float:right;
    color: #007bff; 
  font-size: 26px; 
  margin-right: 20px;
}
#details-page > div > div.card_left > div > div.social-btn > div:nth-child(3) > p{
    /* display: flex;
    align-items: center;
    justify-content: space-between;

   

  margin-right: 5px; */
  align-items: center;
  color: #5b5b5b; 
  font-size: 16px; 
  float:right;
  margin-right: 5px;
}


/* #details-page > div > div.card_left > div > div.social-btn > p:hover{
    color: #ff6347;
    cursor: pointer; 
  } */


.edit-btn:hover,
.del-btn:hover
 {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* .play_btn {
    height: 100%;
    margin: -394px auto;
    position: relative;
    text-align: center;
    background: rgba(0, 244, 170, 0.4);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
} */

/* .fa-play-circle {
    color: #255;
    font-size: 160px;
    margin-top: 110px;
    -webkit-animation: bounce 1.0s -0.4s infinite;
    animation: bounce 1.0s -0.4s infinite;
}

.fa-play-circle:hover {
    color: aqua;
    animation: bounce 0.4s infinite;
} */

@-webkit-keyframes bounce {
    8% {
        transform: scale(0.3);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }
    10% {
        transform: scale(1.8);
        -webkit-transform: scale2;
        opacity: 0;
    }
}

@keyframes bounce {
    8% {
        transform: scale(0.3);
        -webkit-transform: scale(0.8);
        opacity: 1;
    }
    20% {
        transform: scale(1.8);
        -webkit-transform: scale2;
        opacity: 0;
    }
}

#catalog {
    max-width: 100%;
    text-align: center;
    margin-top: 1em;
}

#catalog>h1 {
    margin-top: 2.2em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1.1;
    padding: 7px;
    letter-spacing: 0px;
    font-size: 4rem;
    text-transform: capitalize;
    font-family: Georgia, serif;
    color: #ffffff !important;
    font-weight: bold;
    font-family: Ubuntu, sans-serif !important;
}

.card {
    margin-left: 4em;
    width: 420px;
    height: 510px;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.thumb>img {
    height: 370px;
    width: 100%;
}

.card :hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

article {
    padding: 28px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* p {
    flex: 1;
    line-height: 1.4;
} */

span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}
/* 
.thumb {
    max-height: 350px;

    width: 100%;
    background-size: cover;
    background-position: center center;
} */



@media (min-width: 60em) {
    .item-1 {
        grid-column: 1 / span 2;
    }
    .item-1>h1 {
        font-size: 24px;
    }
}


  .card_right img {
    border: none;
    max-width: 80%;
    height: 200px;
    
    float: right; 
    transition: transform 1s; 
  }
  .card_right img:hover {
    /* transform: scale(1.1);  */
    transform:scale(1.2);
  }
  .card_right a.trend-btn {
    text-align: center;
    float: center; 
    margin-left: 40px; 
  }


  /* like and comments btns */
  /* ... (existing CSS) ... */

.comments-action-buttons {
    /* float:right; */
    text-align: right;
    margin-top: 26px;
  }
  
  .like-button,
  .comment-button {
    /* display: inline-block; */
    /* position: relative; */
    /* outline: none; */
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 6px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .like-button:hover,
  .comment-button:hover {
 
    background-color: #0056b3;

  }
  
  .divider {
    margin: 12px 0;
    border-top: 1px solid #ccc;
  }
  #details-page > div > div.card_right > a > img{

    border: none;
    max-width: 100%;
    height: 30px;
    float: right;

  }
  /* ... lector card... */
  .lector-card {
    max-width: 200px;
    border: 2px solid #333; 
    padding: 10px; 
}
.lector-card p{

    font-size: 16px;
}
.lector-img{
    border: none;
    max-width: 65%;
    height: auto;
    object-fit: cover;
    float: inline-end;
}