.single-explore-image-icon-box ul li{
    background: none;
}
.pagination-catalog {

    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .pagination-catalog  li {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #dd6007;;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .pagination-catalog li:hover {
    background-color: #008e9d;
  }
  .pagination-catalog  li.active {
    background-color: #007bff; 
    color: #fff; 
  }
  .image-section-catalog {
    position: absolute;
    z-index: 11000;
    top: 115px;
    left: 0;
    height: 80vh;
    /* width: 100px;s */
    background-color: #f0f0f0;
    /* padding: 20px; */
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 144vh;
    background: #223b55;
    border: 1px solid #333;
}

.image-section-catalog img {
  width: 330px ;
  z-index: 11000;
    max-width: 100%; /* Гарантира, че изображението няма да надвишава ширината на родителя си */
    height: 100%; /* Позволява на изображението да запази съотношението си на страни */
    display: block; /* Премахва вградения бял обрез при inline изображения */
}
@media screen and (max-width: 768px) {
  .image-section-catalog img{
    display:none;
  }
  .image-section-catalog{
    display:none;
  }
  
}