/* forumSidebar.css */

.forum-sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  /*     background-color: rgba(0, 0, 0, 0);  прозрачно*/
  color: #fff;
  padding-top: 20px;
  border: 2px solid #3498db;
  transition: left 0.5s ease-in-out;
  overflow: scroll;
  z-index: 90;
}
/* #root > div.forum-sidebar.open > a{
  position:fixed;
}
#root > div.forum-sidebar.open > h2{
  position:fixed;
} */
.forum-sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.forum-sidebar a:hover {
  color: #f1f1f1;
}

.forum-sidebar .close-btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-left: 10px;
  cursor: pointer;
}

.forum-sidebar.open {
  left: 0;
}

/* Added styles for posts field */
.forum-sidebar .posts-field {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 10px;

  color: #fff;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #444;
}

/* Added styles for link in the bottom right */
.forum-sidebar .bottom-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px;
  font-size: 16px;
  color: #818181;
  text-decoration: none;
  transition: color 0.3s;
}

.forum-sidebar .bottom-link:hover {
  color: #f1f1f1;
}

#root>div.forum-sidebar.open>h2 {
  color: white
}

.forum-sidebar .posts-field {
  /* Прозрачно черно поле */
  /* ... останалите стилове */
}


/* side bar image */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стилизиране на елементите на списъка със статии */
ul li {
  display: inline-block;
  margin: 10px;
}

/* Стилизиране на линковете към отделните статии */
 ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  text-align: center;
  transition: transform 0.3s;
} 

/* Стилизиране на изображенията в линковете */
ul li img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Добавете рамка на изображението */
  border-radius: 5px; /* Закръглете ъглите на изображението */
}

/* Стилизиране на заглавията на статиите под изображенията */
 ul li span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
} 

/* Ефект при ховър върху линка */
 ul li a:hover {
  transform: scale(1.05); 
} 