/* forumSidebar.css */

.forum-sidebar {
  position: absolute;
  /* top: 0; */
  left: -250px;
  width: 250px;
  height:112.5vh;
  background-color: rgb(73 73 73);
  /*     background-color: rgba(0, 0, 0, 0);  прозрачно*/
  color: #fff;
  padding-top: 20px;
  border: 2px solid #3498db;
  transition: left 0.5s ease-in-out;
  overflow: auto;
  z-index: 90;
}

#root > div.forum-sidebar.open > a{
  position:fixed;
}
#root > div.forum-sidebar.open > h2{
  /* position:fixed; */
}
.forum-sidebar a {
  padding: 8px 8px 8px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 254);
  display: block;
  transition: 0.3s;
}

.forum-sidebar a:hover {
  color: #fcfc00;
}

.close-button1 {
  /* position: absolute; */
  margin-left: 45px;
  margin-top: 10px;
  /* top: 10;y
  left: 0; */
  font-size: 22px;
  margin-bottom: 40px;
  /* margin-left: 10px; */
  color:white;
  cursor: pointer;
  font-size: 16px;
  background: #659e87;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  

}

.close-button2 {
  /* position: absolute; */
  float: right;
  margin-right: 65px;
  margin-bottom: 10px;
  /* top: 10;y
  left: 0; */
  font-size: 22px;
  margin-bottom: 40px;
  /* margin-left: 10px; */
  color:white;
  cursor: pointer;
  font-size: 16px;
  background: #659e87;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  

}
.close-button1:hover{
  background: red;
}
.close-button2:hover{
  background: red;
}


.forum-sidebar.open {
  left: 0;
}

/* Added styles for posts field */
.forum-sidebar .posts-field {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 10px;

  color: #fff;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #444;
}

/* Added styles for link in the bottom right */
.forum-sidebar .bottom-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 8px;
  font-size: 16px;
  color: #818181;
  text-decoration: none;
  transition: color 0.3s;
}

.forum-sidebar .bottom-link:hover {
  color: #f1f1f1;
}

#root>div.forum-sidebar.open>h2 {
  color: white;
  text-align: center;
}


/* side bar image */
.forum-img-sideBar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стилизиране на елементите на списъка със статии */
.forum-img-sideBar ul li {
  display: inline-block;
  margin: 10px;
}

/* Стилизиране на линковете към отделните статии */
.forum-img-sideBar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  text-align: center;
  transition: transform 0.3s;
}

/* Стилизиране на изображенията в линковете */
.forum-img-sideBar ul li img {
  height: 200px;
  width: 200px;
  /* width: 100%; */
  max-height: 200px;
  /* height: auto; */
  border: 2px solid #ddd;
  border-radius: 5px;
}


.forum-img-sideBar ul li span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

/* Ефект при ховър върху линка */
ul li a:hover {
  transform: scale(1.05);
}

#root>div.forum-sidebar.open>a {

  position: sticky;
  top: 0;
  background-color: #659e87;
  z-index: 1;
  margin-bottom: 21px;
}