.footer {
    display: flex;
    justify-content: space-around;

    background-color: #333;
    color: #fff;
    padding: 20px;
    position: static;
    bottom: 0;
    width: 100%;
    align-items: flex-start
}

.footer-section {
    flex: 1;
    text-align: center;
    display: flex;
  
    flex-direction: column;
   
}

.footer-section h3 {
    color: #fcfcfc;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.social-icons {

    /* display: flex; */
    gap: 0px;
    display: flex;
    justify-content: center;
}


.social-icons a {

    color: #96a7b3;
    margin-right: 10px;
    text-decoration: none;
}

.terms a {
    color: #96a7b3;
}
.contact p{
    color: #96a7b3;
}

.social-icons img {

    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#root>footer>section.footer-section.rights-reserved>ul>li {
    margin-bottom: -18px;
    float: none;
}
@media only screen and (max-width: 768px) {
    .footer-section {
        margin-bottom: 0; 
        font-size: 12px;
    }
    .contact p{
        font-size: 10px;
    }
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
    .footer-section {
        text-align: left; 
    }
    .footer{
        padding: 0px;
    }
    .footer-section h3 {
        margin-top: 0;
        font-size: 12px;
    }

}
 @media only screen and (max-width: 768px) {
    .social-icons {
        display: block;
        flex-direction: column; 
        align-items: center; 
    }

    .social-icons a {
        font-size: 10px;
        
        margin-bottom: 10px; 
    }
}



/* Media Query for Smaller Screens */
@media only screen and (max-width: 768px) {
    .terms a {
        margin-top: 0;
    }
    .terms a {
        font-size: 10px;
        color: #96a7b3;
        display: block; 
        text-align: center;
        margin-top: 10px; 
    }
} 