
.form-container-outer{
    display:grid;
    height: 57vh;
    margin-top: 5.5em;
    /* left: 70%; */
    font-family: 'Times New Roman', serif;

     grid-template-columns: auto auto auto;

justify-content: center;
grid-gap: 30px;


grid-row-start: 1;
grid-row-end: 2;
}

 .user-form-sign label {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: column;

} 
.user-form-sign input{
    /* width: 300px; */
}

.checkbox-sign {
  margin-right: 5px;
  color: #0360ad;
display:block !important;

}
.checkbox-sign input {
  color: #0360ad;
    
    cursor: pointer;
    margin-right: 5px;
  }





.form-container-sign {
    display: flex;
    /* text-align: center; */
    height: 335px;
    width: 630px; 
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  
  .user-form-sign form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .user-form-sign h3{
    margin: 5px;
    text-align: left;
    font-family: 'Times New Roman', serif;
    color:#0360ad;
  }
  /* width: 40%;
  padding: 16px;
  border-radius: 65px;
  background: url(/img/createForm.jpg);
  box-shadow: 0 0 20px 0 #095484; */
  .name-inputs-sign {
    display: flex;
    gap: 10px;
  }
  
  .name-inputs-sign input {
    /* padding: 10px; */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }

  /* signUpform */
  .sign-course-card-finish {
    display: flex;
    flex-direction: column;
    /* grid-column: col3-start ;
 grid-row: row1-start / row2-end; */
 max-width: 300px;
 border: 2px solid #333; 
 /* padding: 20px;  */
 margin: 20px;
 background: linear-gradient(to right, #c8e6ff, #c8e6ff);
 border-radius:15px ;
 width: 260px;
 height: 415px;
/* overflow-y:auto; */

margin-top:20px;
}


.sign-course-card-finish p{
 font-family: 'Times New Roman', serif;
 color: #060606;
 padding-left: 10px;
 font-size: 16px;
 /* background: linear-gradient(to right, #ebd28e, #f6cd93); */
 border-radius:15px ;
 
}
.sign-course-img{
    border-top-left-radius: 10px;;
    border-top-right-radius: 10px;;
  
 width: 280px;
 /* border-radius: 50%; */
 border: none;
 max-width: 100%;
 height: 120px;
 object-fit: cover;
 float: inline-end;
 transition: transform 0.3s;
}
/* .sign-course-img:hover{
 transform: scale(1.1);
} */
.sign-course-card-finish h2{
 margin: 3px;
 font-size: 18px;
 
}
.sign-course-card-finish h3{
    margin: auto;
    text-shadow: 0 4px 8px rgb(10 56 153 / 36%);
    background: #c9e6e7;
    padding-left: 5px;
    margin-bottom: -10px;
    margin-top: 3px;
    margin-left: 24px;
    /* margin: -7px; */
    color: #5b3200;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;

    
}

.old-price {
  text-decoration: line-through;
  color: red; /* Цвят на задраскването */
}

.strikethrough {
  text-decoration: line-through;
  font-size:18px;
}

.new-price {
  color: #5b3200; /* Цвят на новата цена */
  
  font-size: 18px;
}













.sign-course-card-finish h4{
    margin: 0px;
    text-shadow: 0 4px 8px rgb(10 56 153 / 36%);
    margin-left: 24px;
    color: #b7741e;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.sign-course-card-finish h2 span{
    font-size: 16px;
    color: red;
}
.how-more-button-signUp {
    background-color: #0ea0af; 
    color: white; 
    padding: 5px 10px; 
    font-size: 22px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin: 0px;
  }
  .show-more-button-signUp:hover {
    background-color: #72b39b; 
  }
  .show-more-button-back{
    margin: 5px;
    text-transform: none;
  }
  .show-more-button-back:hover{
    text-transform: none;
  }
  .vouchers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .vouchers-section label {
    margin-bottom: 5px;
  }
  
  .vouchers-section input {
    padding: 8px;
    /* margin-bottom: 10px; */
    width: 200px;
    border: 1px solid #ccc;
  }
  
  .vouchers-btn{
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    /* border: 1px solid black; */
    border-radius: 14px;
    cursor: pointer;

  }
  
  .vouchers-btn button:hover {
    background-color: #45a049;
  }