
.promo-code-main{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.promo-code-section {
    background-color: #d7d7d7;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 300px;
    border: 1px solid #e57807;
    border-radius: 15px;
  }
  
  .promo-code-type {
    padding: 4px;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    /* border: 1px solid #e57807; */
    color: #c91212;
    border-radius: 5px;

  }
  .promo-code-type span{
    padding: 4px;
    font-size: 22px;
    margin-bottom: 10px;
    /* border: 1px solid #e57807; */
    color: #6b90ff;
    border-radius: 5px;

  }
  .promo-code {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e57807;
    border-radius: 5px;
    color: #c91212;
  }
  .promo-code span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;

    color: #030303;
  }
  .promo-code-section button {
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .promo-code-section button:hover {
    background-color: #45a049;
  }
  