.forum-page-section{
  background: url("/img/createForm.jpg");

}

.forum-page {
  /* променен  */
  height: 90vh; 
  /* gap: 4px; */
  /* display: flex;
  flex-direction: column;
  padding: 20px;
  align-content: space-around;
   justify-content: flex-start; 
  flex-wrap: wrap; */
  height: 90vh;
gap: 4px;
display: flex;
padding: 20px;
flex-direction: column;
align-content: space-between;
align-items: center;
}


.pagination {
  
  margin-bottom:0px;
  font-family: none;
  padding: 30px;

}

h1 {
  text-align: center;
  color: #333;
}

.pagination-button {
  /* background-color: #3498db;
  color: #fff; */
  /* border: 1px solid #3498db; */
  /* font-family: 'Poppins', sans-serif; */
  padding: 8px 8px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.pagination-button:hover {
  background-color: #2980b9;
  border-color: #2980b9;
  color: #fff;
}

.pagination button:nth-child(odd) {
  background-color: #470bec !important;
  border: 1px solid #2ecc71 !important;
}

.pagination button:nth-child(odd):hover {
  background-color: #ec130b !important;
  border: 1px solid #2ecc71 !important;
}
.close-button1 {
  /* position: absolute; */
  /* margin-left: 45px; */
   /* top: 20px;
  left: 2rem;  */
 
  font-size: 22px;
  /* margin-bottom: 40px; */
  /* margin-left: 10px; */
  cursor: pointer;
  font-size: 16px;
  background: #659e87;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  

}
.close-button1:hover{
  background: red;
}
@media only screen and (max-width: 600px) {
  .forum-page {
    padding: 10px; 
  }

  .pagination {
    padding: 10px; 
  }

  .pagination-button {
    margin: 0 3px; 
  }

  h1 {
    font-size: 24px; 
  }

  .close-button1 {
    font-size: 14px;
    padding: 3px 6px; 
  }
}
