
  
  /* Стил за секцията и формата */
  .login-root-section{
    height: 600px;
    display: flex;
    justify-content: center;
  }
  .container-login {
    /* text-align: center; */
  }
  .container-login input{
    font-size: 20px;
  }
  .container-login h1{
    font-size: 24px;
    text-shadow: 0 4px 8px rgb(105 152 253 / 36%);
    text-align: center;
    color: #333;
  }
  .container-login label {
margin-top: 10px;
    font-size: 18px;
  }
  #login-page-login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #login {
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;

    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    /* max-width: 476px; */
    margin: 0 auto;
    position: relative;
}
#register {
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;

  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  /* max-width: 476px; */
  margin: 0 auto;
  position: relative;
}
  

.btn.submit-button{
    font-size: 24px;
    align-self: flex-end;
    margin-top: 10px;
    font-weight: 500; 
  }
  .login-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
  }
  .field{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-end;
  }
  .image-container {
  
    float: left;
    margin-left: 20px; 
  }
  
  /* Стилове за снимката */
  .image-container img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    top: 50px;
    width: 400px;
    height: 477px;
    display: flex;
   
  }
  .image-container1 img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    max-height: 1000px;
    position: relative;
    top: 50px;
    width: 455px;
    height: 477px;
    display: flex;
   
  }