.close-button-forum {
    position: absolute;
    top: 118px;
    right: 400px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: #26a8d1;
    padding: 5px 10px;
    border-radius: 30%;
  }
  .btn-block-edit{
    font-size: 26px;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    padding: 10px;
    border: solid;
    border-radius: 15px;
    background: #7fc7f4;
    font-size: 16px;
    color: #2f2d2d;
    cursor: pointer;
    margin-left: 280px;
  }
  .error{
    border: 1px solid red;
    color: red;
    transition: border-color 0.3s ease, color 0.3s ease;
  }
  .error-black{
    border: 1px solid blue;
    color: rgb(0, 38, 255)(12, 12, 12);
    transition: border-color 0.3s ease, color 0.3s ease;
  }
  .required-field {
    color: red; /* Цветът на звездичката */
    margin-left: 3px; /* Разтоянието между текста и звездичката */
  }
  
@media (min-width: 568px) {

  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-item input,
  .city-item input {
    width: calc(50% - 20px);
  }

  .city-item select {
    width: calc(50% - 8px);
  }
}

.image-container {
  /* Initially hide the container */
  margin-top: 10px;
}

.image-container img {
  max-width: 100%;
  max-height: 120px;
  /* Adjust to your preferred height */
}
@media (max-width: 768px) {
  #root>div>form {

    width: 100%;
  }
  .name-item,
  .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .name-item input,
  .city-item input {
    width: calc(50% - 20px);
  }

  .city-item select {
    width: calc(50% - 8px);
  }
  .btn-block-edit {
    margin-left: 100px;
  }
}