.close-button-forum {
    position: absolute;
    top: 118px;
    right: 400px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: #26a8d1;
    padding: 5px 10px;
    border-radius: 30%;
  }