.admin-dashboard {
    display: flex;
    /* Други стилове за общия контейнер */
    height: 100%;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background: #223b55;
    /* Други стилове за сайдбара, ако са необходими */
    border: 1px solid #333;
  }
  
  .customers {
    padding: 10px;
    margin: 10px;
    /* Цвят на рамката за първата секция (тъмна) */
    /* background-color: #222; */
    color: #fff; /* Цвят на текста за първата секция (тъмна) */
  }
  .customers h2{

    /* Цвят на рамката за първата секция (тъмна) */
    /* background-color: #222; */
    color: #fff; /* Цвят на текста за първата секция (тъмна) */
  }
  
  .admin-chat {
    padding: 10px;
    margin: 10px;
    

    color:  #fff; /* Цвят на текста за втората секция (светла) */
  }
  .admin-chat h2{
 
    color:  #fff;
  }
  .pagination-admin {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-admin  li {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #dd6007;;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .pagination-admin li:hover {
    background-color: #008e9d;
  }
  .pagination-admin  li.active {
    background-color: #007bff; /* Change to your preferred active color */
    color: #fff; /* Change to your preferred text color for active page */
  }
  .customer-list{
    /* display: flex; */
    max-width: 1980px;
    width: 1700px;
    border-radius: 3px;
    background: #bebebe;
    border: 1px solid #dd6007;;


  }
  .customer-list h2{
    text-align: center;
    font-size: 24px;
    padding: 15px;
    color: #dd6007;
    text-shadow:0 4px 8px rgb(105 152 253 / 36%); 
  }
  
  @media only screen and (max-width: 600px) {






}
@media only screen and (max-width: 600px) {
  .admin-dashboard {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
      height: auto;
  }

  .pagination-admin {
      flex-direction: column;
      align-items: center;
  }

  .pagination-admin li {
      margin: 5px 0;
  }
  
  .customer-list {
    padding: 10px; 
     max-width: none;
     width:auto;
  }
.customer-list h2 {
    font-size: 20px; /* Adjust font size for smaller screens */
    padding: 10px;
}

}