.row-section {
 
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; 
    gap: 160px;
    background: url(/img/createForm.jpg);
    padding: 15px 10px;
    margin: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 

  }
  
  .row-section h2 {
    color: #333; 
  }
  
  .row-section p {
    width: 370px;
    margin: 8px 0;
  }
  
  .row-section strong {
    font-weight: bold;
  }
  .row-section-course{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; 
    gap: 35px;
    background: url(/img/createForm.jpg);
    padding: 15px 10px;
    margin: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }
  .row-section-course p {
    color: black;
  }
  .btn-primary-course{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(4, 134, 165);
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    color: white;
    cursor: pointer;
 
    border: 1px solid transparent;
    border-radius: 10px;

  }
  .btn-primary-course:hover{
    color: chocolate;
    background-color: rgb(253 243 11);
  }
  .btn-delete-course{
    display: inline-block;
    padding: 6px 12px;
    color: white;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(253, 11, 11);
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
  
    cursor: pointer;
 
    border: 1px solid transparent;
    border-radius: 10px;
  }
  /* .btn-delete-course:hover{
    background-color: rgb(4, 134, 165);
  } */
  .btn-primary-customer{
    display: inline-block;
    padding: 6px 12px;
    color: white;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(4, 134, 165);
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
  
    cursor: pointer;
 
    border: 1px solid transparent;
    border-radius: 15px;

  }
  .btn-primary-customer:hover{
    background-color: rgb(8 207 172);

  }