.invoice-card {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .card-icons {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .icon {
    font-size: 2em;
    color: #333;
  }
  
  .card-form-invoice{
    width: 100%;
    margin-top: 20px;
  }
  
  .card-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .small {
    width: 48%;
  }
  
  .flex-row {
    display: flex;
    justify-content: space-between;
  }
  
  .pay-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 35px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .pay-button:hover {
    background-color: #45a049;
  }