.change-password{
  margin-top: 60px;;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    


}


.change-password div {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .change-password div form{
    margin-top: 83px

  }
  
  .change-password h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form Fields */
  .change-password label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
 .change-password input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Submit Button */
 .change-password button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
 .change-password button:hover {
    background-color: #0056b3;
  }