.profile-sidebar {
  top: 0;
  width: 215px;
  z-index: 40;
  width: 215px;
  background-color: #333;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  border-top-right-radius:3%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.profile-sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  background-color: #444;
  padding: 15px;
  text-align: center;
}

.sidebar-header h3 {
  color: #0b78d3;
  margin: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 8px;
  width: 180px;
}

.sidebar-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.sidebar-menu a:hover {
  background-color: #555;
  color: #0b78d3;
}
.close-button3 {
  /* position: absolute; */
  /* margin-left: 45px; */
  /* margin: 20px; */
  margin-top: 10px;
  padding: 5px 10px;
  margin-left: 10px;
  width: 180px;
  /* padding-right: 30px; */
  /* top: 10;y
  left: 0; */
  /* font-size: 22px; */
  /* margin-bottom: 40px; */
  /* margin-left: 10px; */
  color:white;
  cursor: pointer;
  font-size: 16px;
  background: #659e87;
  border: 1px solid #ccc;
  border-radius: 5px;
  

}
.close-button3:hover{
  background: red;
}
.profile-sidebar-h1{
  font-size: 33px;
  position: relative;
  top: 300px;
}