.profile-sidebar {
  top: 0;
  width: '215px';
  z-index: 40;
  width: 200px;
  background-color: #333;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.sidebar-header {
  background-color: #444;
  padding: 15px;
  text-align: center;
}

.sidebar-header h3 {
  color: #0b78d3;
  margin: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar-menu a {
  text-decoration: none;
  color: #fff;
}

.sidebar-menu a:hover {
  background-color: #555;
}