.profile-sidebar {
  top: 0;
  width: 215px;
  z-index: 40;
  width: 215px;
  background-color: #333;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  border-top-right-radius:3%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.profile-sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  background-color: #444;
  padding: 15px;
  text-align: center;
}

.sidebar-header h3 {
  color: #0b78d3;
  margin: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
}

.sidebar-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.sidebar-menu a:hover {
  background-color: #555;
  color: #0b78d3;
}